{% extends 'website/base.html' %}
{% block title %}
You are welcome!
{% endblock %}
{% block content %}


<div class="container h-50">
    <div class="d-flex justify-content-center h-100">
        <div class="col-md-6 text-center">
            <div class="card mb-4">
                <div class="card-header">
                    Congratulations!
                </div>
                <div class="card-body">

                        <div class="input-group mb-3">
                               {% if user_type == 'job_seeker' %}
                             <h3>Your account created successfully!</h3>
                        {% else %}
                        <h3>Your account created successfully! Wait for the admin to prove your account.</h3>
                    {% endif %}


            </div>

        </div>
    </div>
</div>
</div>
</div>


{% endblock %}