{% extends 'website/base.html' %}
{% block title %}
    Owls Agent Admin Dashboard
{% endblock %}

{% load static %}
{% block content %}
    <center>
        <br><br>
        <button type="button"  class="collapsible">List Of Companies</button>


            <table>
                <tr>
                    <th>Categories</th>
                     <br><br>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>Post Date</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Work Level</th>
                    <th>Experience</th>
                    <th>Salary</th>
                    <th>Company</th>

                </tr>
                {% for x in querySet %}

                    <tr>
                        <td>{{ x.categories }}</td>
                        <td>{{ x.title }}</td>
                        <td>{{ x.descriptions }}</td>
                        <td>{{ x.start_date }}</td>
                        <td>{{ x.post_date }}</td>
                        <td>{{ x.type }}</td>
                        <td>{{ x.location }}</td>
                        <td>{{ x.work_level }}</td>
                        <td>{{ x.experience }}</td>
                        <td>{{ x.salary }}</td>
                        <td>{{ x.company }}</td>


                    </tr>
                {% endfor %}
            </table>
            <br><br>
             <div>
             <table>
            <div id="more-div-1">
                {% if querySet.has_previous %}
                    <button id="more-button-1" class="btn btn-warning"><a class="infinite-more-link"
                                                                          href="?page={{ querySet.previous_page_number }}"
                                                                          style="color: white">Previous</a>
                    </button>
                {% endif %}

                {% if querySet.has_next %}
                    <button id="more-button" class="btn btn-warning "><a class="infinite-more-link "
                                                                        href="?page={{ querySet.next_page_number }}"
                                                                        style="color: white">Next</a>
                    </button>
                {% endif %}
            </div>



            </table>


    </center>
    <br>
    <br>
    <center>
        <br><br>

    </center>

    <br><br>
{% endblock %}