{% extends 'website/base.html' %}
{% block title %}
Owls Agent Login Page
{% endblock %}

{% load static %}
{% block content %}

<div class="container h-80">
    <div class="d-flex justify-content-center h-80">
        <div class="col-md-6">
            {% for message in messages %}
            <div class="alert alert-info" id="messages">{{message}}</div>
            {% endfor %}
            <div class="card mb-4">
                <div class="card-header">
                    Edit Profile
                </div>
                <div class="card-body">
                    <div class="col-md-12 mb-3 mb-md-0 text-center">
                        <label class="text-black" for="">Image Field</label><br>
                        {% if data.image %}
                        <img class="rounded-circle" src="{{data.image.url}}" width="100px" height="100px"/>
                        {% endif %}

                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="">Name</label>
                                <input type="text" class="form-control" name="name" id="" value="{{data.name}}"
                                       placeholder="{{data.name}}" required>
                            </div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="">Surname</label>
                                <input type="text" class="form-control" name="surname" value="{{data.surname}}"
                                       required>
                            </div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="">Birth date</label>
                                <input type="text" class="form-control" name="birth_date" value="{{data.birth_date}}"
                                       disabled>
                            </div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="">Carrier List</label>
                                <input type="text" class="form-control" name="carrier_list"
                                       value="{{data.carrier_list}}" required>
                            </div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="">Portfolio Link</label>
                                <input type="text" class="form-control" name="portfolio_link"
                                       value="{{data.portfolio_link}}" required>
                            </div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="" >Gender : </label>
                                <input type="radio" name="gender" value="M" required>
                                <br>
                                {% if data.gender == 'M' %}
                                <input type="radio" name="gender" value="M" checked>
                                <strong><label>Male</label></strong>
                                {% else %}
                                <input type="radio" name="gender" id="male" value="M">
                                <label>Male</label>
                                {% endif %}

                                {% if data.gender == 'F' %}
                                <input type="radio" name="gender" value="F" checked>
                                <strong><label>Female</label></strong>
                                {% else %}
                                <input type="radio" name="gender" id="female" value="F">
                                <label>Female</label>
                                {% endif %}

                                {% if data.gender == 'O' %}
                                <input type="radio" name="gender" value="O" checked>
                                <strong><label>Other</label></strong>
                                {% else %}
                                <input type="radio" name="gender" id="other" value="O">
                                <label>Other</label>
                                {% endif %}
                            </div>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="">Choose Image</label>
                                <input class="form-control" type="file" name="image">
                            </div>
                        </div>

                        <button type="submit" id="login-page-button" class="genric-btn success circle">SAVE</button>
                    </form>
                </div>


            </div>

        </div>
    </div>
</div>

{% endblock %}