{% extends 'website/base.html' %}
{% block title %}
Your job posting listing!
{% endblock %}
{% block content %}


<div class="container h-50">
    <div class="d-flex justify-content-center h-100">
        <div class="col-md-6 text-center">
            <div class="card mb-4">
                <div class="card-header">
                    Congratulations!
                </div>
                <div class="card-body">

                        <div class="input-group mb-3">

                        <h3>Your job posting created successfully!</h3>



            </div>

        </div>
    </div>
</div>
</div>
</div>


{% endblock %}