{% extends 'website/base.html' %}
{% block title %}
Owls Agent Job Details Page
{% endblock %}
{% load static %}
{% block content %}
<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
             data-background="{% static 'img/hero/about.jpg'%}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>{{job_offer.title}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                {% if job_offer.company.image %}
                                <a href="#"><img src="{{job_offer.company.image.url}}" height="150" width="150"
                                                 class="rounded-circle"></a>

                                {% endif %}

                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h4>{{job_offer.title}}</h4>
                                </a>
                                <ul>
                                    <li><a href="{% url 'company_profile' pk=job_offer.company.user_id %}"
                                           style="color:black"> {{job_offer.company.company_name}}</a></li>
                                    <li><i class="fas fa-map-marker-alt"></i>{{job_offer.location}}</li>
                                    <li>{{job_offer.salary}}</li>
                                    <li>{{ job_offer.get_experience_display }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Description</h4>
                            </div>
                            <p>{{job_offer.description}}</p>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Required Knowledge, Skills, and Abilities</h4>
                            </div>
                            <ul>
                                <li>{{job_offer.required_skills}}</li>
                            </ul>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Education + Experience</h4>
                            </div>
                            <ul>
                                <li>{{job_offer.education}}</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Overview</h4>
                        </div>
                        <ul>
                            <li>Posted date : <span>{{job_offer.post_date}}</span></li>
                            <li>Location : <span>{{job_offer.location}}</span></li>
                            <!-- <li>Vacancy : <span>{{job_offer.post_date}}????</span></li> -->
                            <li>Job nature : <span>{{job_offer.type}}</span></li>
                            <li>Salary : <span>{{job_offer.salary}}</span></li>
                            <li>Application date : <span>{{job_offer.start_date}}</span></li>
                        </ul>
                        {% for message in messages %}
                        <p id="messages" align="center">{{message}}</p>
                        {% endfor %}
                        <div class="apply-btn2">
                            {% if user_type == 'job_seeker' %}
                            <a href="{% url 'apply_job' pk=job_offer.id %}" class="btn">Apply Now</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="post-details4  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Company Information</h4>
                        </div>
                        <span><h3 style="color:grey"><a href="{% url 'company_profile' pk=job_offer.company.user_id %}"> {{job_offer.company.company_name}}</a></h3></span>

                        <ul>
                            <li>Name: <span>{{job_offer.company}}</span></li>
                            <li>Web : <span>{{job_offer.company.website}}</span></li>
                            <li>Email: <span>{{job_offer.company.user.email}}</span></li>
                            <li>Tax id: <span>{{job_offer.company.tax_id}}</span></li>
                            <li>Foundation Year: <span>{{job_offer.company.foundation_year}}</span></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>
{% endblock %}