{% extends 'website/base.html' %}
{% block title %}
    Owls Agent Admin Dashboard
{% endblock %}

{% load static %}
{% block content %}
<div class="container h-75">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                    <h4 class="mt-3" style="font-family:'Times New Roman'; color: #4e555b">List Of Companies</h4>





                <div class="cd-appr-table table rounded " style="border: 2px darkslategrey solid;">
                   <table class="table">
                       <thead class="thead-dark">

                    <th>Company Name</th>
                    <th>Tax Id</th>
                    <th>Website</th>
                    <th>Foundation Year</th>
                    <th>Action</th>



                </thead>
                {% for x in querySet %}

                    <tr>
                        <td>{{ x.company_name }}</td>
                        <td>{{ x.tax_id }}</td>
                        <td>{{ x.website }}</td>
                        <td>{{ x.foundation_year }}</td>


                        <td class="text-center">
                            <a href="/dashboardList/deleteCompany/{{ x.id }}">
                                <button type="button" class="btn btn-success">Delete</button>
                            </a>
                    </tr>
                {% endfor %}
            </table>

            <br><br>
             <div>
             <div>
              </div>
 </div>
            <div id="more-div-2">
                {% if querySet.has_previous %}
                    <button id="more-button-1" class="btn btn-warning"><a class="infinite-more-link"
                                                                          href="?page={{ querySet.previous_page_number }}"
                                                                          style="color: white">Previous</a>
                    </button>
                {% endif %}

                {% if querySet.has_next %}
                    <button id="more-button" class="btn btn-warning "><a class="infinite-more-link "
                                                                        href="?page={{ querySet.next_page_number }}"
                                                                        style="color: white">Next</a>
                    </button>
                {% endif %}
            </div>
             </div>






<div class="row">
                        <div class="col-lg-12 text-center">
                    <h4 class="mt-3" style="font-family:'Times New Roman'; color: #4e555b">List Of Job Seekers</h4>





                <div class="cd-appr-table table rounded " style="border: 2px darkslategrey solid;">
                   <table class="table">
                       <thead class="thead-dark">

                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Birth_Date</th>
                    <th>Carrier List</th>
                    <th>Portfolio Link</th>
                    <th>Action</th>
                </tr>
                {% for y in listing_jobseeker %}

                    <tr>
                        <td>{{ y.name }}</td>
                        <td>{{ y.surname }}</td>
                        <td>{{ y.birth_date }}</td>
                        <td>{{ y.carrier_list }}</td>
                        <td>{{ y.portfolio_link }}</td>


                        <td class="text-center">
                            <a href="/dashboardList/deleteJobSeeker/{{ y.id }}">
                                <button type="button" class="btn btn-success">Delete</button>
                            </a>
                    </tr>
                {% endfor %}
            </table>
            <div>
            <table>
            <div id="more-div-1">
                {% if listing_jobseeker.has_previous %}
                    <button id="more-button-2" class="btn btn-warning"><a class="infinite-more-link"
                                                                          href="?page={{ listing_jobseeker.previous_page_number }}"
                                                                          style="color: white">Previous</a>
                    </button>
                {% endif %}

                {% if listing_jobseeker.has_next %}
                    <button id="more-button-3" class="btn btn-warning"><a class="infinite-more-link "
                                                                        href="?page={{ listing_jobseeker.next_page_number }}"
                                                                        style="color: white">Next</a>
                    </button>
                {% endif %}
            </div>
            </table>




</div>
                </div>
                        </div>
</div>
                        </div>
                    </div>
</div>





{% endblock %}