{% extends 'website/base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}


<p style="color: Red; text-align: center;">{{error_message}}</p>



<div class="container h-75">
    <div class="d-flex justify-content-center h-100">
        <div class="col-md-6 text-center">
            <div class="card mb-4">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="username" placeholder="Username" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="text" name="email" placeholder="Email" class="form-control">
                        </div>
                         <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-building"></i></span>
                            </div>
                            <input type="text" name="company" placeholder="Company Name" class="form-control">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password1" placeholder="Password" class="form-control">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password2" placeholder="Password confirmation" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-file"></i></span>
                            </div>
                            <input type="text" name="company_tax" placeholder="Tax ID" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-home"></i></span>
                            </div>
                            <input type="text" name="website" placeholder="Website" class="form-control">
                        </div>

                         <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                            </div>
                            <input type="number" name="foundation_year" placeholder="Foundation Year" class="form-control" min="1950" max="2021">
                        </div>

                        <button type="submit" id="login-page-button" class="btn btn-primary">REGISTER</button>
                    </form>

                </div>

                {% for message in messages %}
                <p id="messages">{{message}}</p>
                {% endfor %}
            </div>
            <h5>If you have an account <a href="{% url 'login' %}}"><strong>login.</strong></a></h5>
        </div>
    </div>
</div>




{% endblock %}