{% extends 'website/base.html' %}
{% block title %}
Owls Agent Role Choose
{% endblock %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>
<div class="container h-50">
    <div class="d-flex justify-content-center h-100">
        <div class="col-md-6 text-center">
            <div class="card mb-4">
                <div class="card-header">
                    Choose your account type
                </div>
                <div class="card-body">
                    <form method="post" class="form-group">
                        {% csrf_token %}
                        <div class="input-group w-25 mx-auto">


                            <select id="type" name="type">
                                <option value="job_seeker">Job Seeker</option>
                                <option value="company">Company</option>
                            </select>

                        </div>


                        <div class="pt-4">
                            <button type="submit" class="btn btn-success">Choose</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}